@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  /* Colors */
  --light-red: hsl(0, 100%, 67%);
  --light-slate-blue: hsl(252, 100%, 67%);
  --light-royal-blue: hsl(241, 81%, 54%);
  --orangey-yellow: hsl(39, 100%, 56%);
  --green-teal: hsl(166, 100%, 37%);
  --cobalt-blue: hsl(234, 85%, 45%);
  --violet-blue: hsla(256, 72%, 46%, 1);
  --persian-blue: hsla(241, 72%, 46%, 0);
  --white: hsl(0, 0%, 100%);
  --pale-blue: hsl(221, 100%, 96%);
  --light-lavender: hsl(241, 100%, 89%);
  --dark-gray-blue: hsl(224, 30%, 27%);
  --cobalt-blue-light: hsla(234, 85%, 45%, 0.05);
  --light-red-light: hsla(0, 100%, 67%, 0.05);
  --orangey-yellow-light: hsla(39, 100%, 56%, 0.05);
  --green-teal-light: hsla(166, 100%, 37%, 0.05);
  /* Typography */
  --font-family: "Hanken Grotesk", sans-serif;
  --fs-18: 18px;
}
/* Reset */
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Globales */
body {
  background-color: var(--pale-blue);
  font-family: var(--font-family);
  font-size: var(--fs-18);
  font-weight: 500;
  color: var(--light-lavender);
}
.container {
  display: grid;
  place-items: center;
  min-height: 100vh;
}
/* H1 */
.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  position: absolute;
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  overflow: hidden;
  white-space: nowrap;
}
/* Card */
.card {
  display: flex;
  max-width: 46rem;
  margin: auto;
  border-radius: 1.875rem;
  background-color: var(--white);
  box-shadow: 0px 15px 30px 10px var(--cobalt-blue-light);
}
/* Card Result */
.card__result {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 23rem;
  padding: 2.5rem 3.75rem;
  border-radius: 2rem;
  background: linear-gradient(var(--light-slate-blue), var(--light-royal-blue));
}
.card__result-title {
  margin-top: -1.5rem;
  margin-bottom: 2.5rem;
  font-size: 1.4rem;
}
.card__result-score {
  display: flex;
  width: 12.1875rem;
  min-height: 12.1875rem;
  margin-bottom: 2rem;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 50%;
  background: linear-gradient(var(--violet-blue), var(--persian-blue));
}
.card__result-score-total {
  font-size: 4rem;
  font-weight: 700;
  color: var(--white);
}
.card__result-score-of {
  font-weight: 700;
}
.card__result-performance {
  margin-bottom: 1.125rem;
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--white);
}
.card__result-description {
  line-height: 1.24rem;
  text-align: center;
}
/* Card Summary */
.card__summary {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 2.5rem;
}
.card__summary-title {
  margin-bottom: 1.875rem;
  font-size: 1.33rem;
  color: var(--dark-gray-blue);
}
.card__summary-stats {
  display: flex;
  flex-direction: column;
  gap: 1.125rem;
  margin-bottom: 2.5rem;
}
.card__summary-stats-item {
  display: flex;
  align-items: center;
  gap: 0.625rem;
  padding: 1.0625rem;
  border-radius: 0.625rem;
}
.card__summary-stats-item:nth-child(1) {
  background-color: var(--light-red-light);
}
.card__summary-stats-item:nth-child(2) {
  background-color: var(--orangey-yellow-light);
}
.card__summary-stats-item:nth-child(3) {
  background-color: var(--green-teal-light);
}
.card__summary-stats-item:nth-child(4) {
  background-color: var(--cobalt-blue-light);
}
.card__summary-stats-item-name {
  flex-grow: 1;
  font-weight: 700;
  font-size: var(--fs-18);
  width: 138px;
}
.card__summary-stats-item:nth-child(1) .card__summary-stats-item-name {
  color: var(--light-red);
}
.card__summary-stats-item:nth-child(2) .card__summary-stats-item-name {
  color: var(--orangey-yellow);
}
.card__summary-stats-item:nth-child(3) .card__summary-stats-item-name {
  color: var(--green-teal);
}
.card__summary-stats-item:nth-child(4) .card__summary-stats-item-name {
  color: var(--cobalt-blue);
}
.card__summary-stats-item-note {
  font-weight: 700;
}
.card__summary-stats-item-note span {
  margin-right: 3px;
  color: var(--dark-gray-blue);
  font-weight: 800;
}

.card__summary-continue {
  font-size: 1.125rem;
  letter-spacing: 1.1px;
  border: none;
  padding: 1.125rem;
  border-radius: 1.875rem;
  color: var(--white);
  font-weight: 700;
  background: var(--dark-gray-blue);
  overflow: hidden;
}
.card__summary-continue:hover {
  background: linear-gradient(var(--light-slate-blue), var(--light-royal-blue));
  cursor: pointer;
}
.attribution {
  font-size: 12px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
/* Responsive */
@media (max-width: 768px) {
  .container {
    display: block;
  }
  .card {
    flex-direction: column;
    max-width: 600px;
    margin-bottom: 3rem;
  }
  .card__result {
    max-width: 100%;
    padding: 1.5625rem 3.75rem;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .card__summary-continue {
    align-self: center;
    width: 315px;
  }
}
@media (max-width: 360px) {
  .card__summary-stats-item-name {
    width: 90px;
  }
}
